<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 428px; height: 926px; position: relative; background: rgba(255, 232, 0, 0.88); border-radius: 10px; overflow: hidden">
    <div style="width: 443px; height: 99px; left: 0px; top: 0px; position: absolute">
      <div style="width: 430px; height: 99px; left: 0px; top: 0px; position: absolute; background: black"></div>
      <div style="width: 252px; height: 48px; left: 191px; top: 49px; position: absolute">
        <div style="width: 129px; height: 42px; left: 123px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Barlow; font-weight: 400; word-wrap: break-word">GLASS</div>
        <div style="width: 177px; height: 48px; left: 0px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Cardo; font-weight: 700; word-wrap: break-word">VIDRAL</div>
      </div>
      <div style="width: 36px; height: 24px; left: 11px; top: 51px; position: absolute; background: #ABAFD1"></div>
      <div style="width: 36px; height: 24px; left: 11px; top: 51px; position: absolute; background: #ABAFD1"></div>
    </div>
    <div style="width: 359px; height: 71px; left: 36px; top: 124px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Tipo</div>
    </div>
    <div style="width: 359px; height: 71px; left: 36px; top: 641px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Quantidade</div>
    </div>
    <div style="width: 359px; height: 71px; left: 36px; top: 803px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Observação</div>
    </div>
    <div style="width: 359px; height: 71px; left: 36px; top: 722px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Valor item</div>
    </div>
    <div style="width: 359px; height: 71px; left: 34px; top: 205px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Nome</div>
    </div>
    <div style="width: 354px; height: 71.16px; left: 34px; top: 301px; position: absolute">
      <div style="width: 354px; height: 65px; left: 0px; top: 0px; position: absolute; background: black; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 0.50px rgba(0, 0, 0, 0.99) solid"></div>
      <div style="width: 270.85px; left: 83.15px; top: 23.16px; position: absolute; color: #ABAFD1; font-size: 20px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Inserir imagem<br/></div>
      <div style="width: 41.67px; height: 35.86px; left: 19.78px; top: 14.94px; position: absolute">
        <div style="width: 41.67px; height: 35.86px; left: 0px; top: 35.86px; position: absolute; border: 1px #ABAFD1 solid"></div>
        <div style="width: 13.89px; height: 11.95px; left: 13.89px; top: 11.95px; position: absolute; border: 1px #ABAFD1 solid"></div>
      </div>
    </div>
    <img style="width: 296px; height: 249px; left: 63px; top: 382px; position: absolute" src="https://via.placeholder.com/296x249" />
    <div style="height: 11px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; padding-right: 27px; left: 427.84px; top: 125.02px; position: absolute; transform: rotate(90.11deg); transform-origin: 0 0; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="width: 399px; height: 7px; background: rgba(0, 0, 0, 0.50); border-radius: 3.50px; border: 0.50px rgba(255, 255, 255, 0.15) solid"></div>
    </div>
  </div>

  <div style="width: 428px; height: 926px; position: relative; background: rgba(255, 232, 0, 0.88); border-radius: 10px; overflow: hidden">
    <div style="width: 287.86px; height: 384.52px; left: 140px; top: 541px; position: absolute">
      <div style="width: 22.69px; height: 23.51px; left: 127.06px; top: 306.63px; position: absolute; background: black"></div>
      <div style="width: 63.97px; height: 66.42px; left: 81.83px; top: 240.47px; position: absolute; background: black"></div>
      <div style="width: 41.22px; height: 78.53px; left: 145.59px; top: 162.21px; position: absolute; background: black"></div>
      <div style="width: 22.70px; height: 105.76px; left: 254.12px; top: 265.50px; position: absolute; background: black"></div>
      <div style="width: 110.46px; height: 58.87px; left: 162.40px; top: 162.20px; position: absolute; background: black"></div>
      <div style="width: 86.22px; height: 46.75px; left: 186.63px; top: 219.02px; position: absolute; background: black"></div>
      <div style="width: 103.44px; height: 27.81px; left: 158.82px; top: 356.69px; position: absolute; background: black"></div>
      <div style="width: 11.22px; height: 47.02px; left: 276.63px; top: 241.99px; position: absolute; background: black"></div>
      <div style="width: 11.22px; height: 18.90px; left: 276.63px; top: 281.21px; position: absolute; background: black"></div>
      <div style="width: 30.02px; height: 22.46px; left: 11.92px; top: 362.05px; position: absolute; background: black"></div>
      <div style="width: 35.09px; height: 22.44px; left: 11.92px; top: 362.06px; position: absolute; background: black"></div>
      <div style="width: 45.44px; height: 58.94px; left: 81.83px; top: 247.95px; position: absolute; background: black"></div>
      <div style="width: 31.96px; height: 82.50px; left: 11.91px; top: 285.18px; position: absolute; background: black"></div>
      <div style="width: 55.78px; height: 82.51px; left: 31.76px; top: 285.17px; position: absolute; background: black"></div>
      <div style="width: 55.79px; height: 39.28px; left: 31.76px; top: 247.95px; position: absolute; background: black"></div>
      <div style="width: 42.41px; height: 27.81px; left: 152px; top: 356.69px; position: absolute; background: black"></div>
      <div style="width: 33.06px; height: 27.81px; left: 125.97px; top: 356.69px; position: absolute; background: black"></div>
      <div style="width: 34.63px; height: 44.97px; left: 113.82px; top: 306.62px; position: absolute; background: black"></div>
      <div style="width: 45.20px; height: 27.07px; left: 113.82px; top: 329.89px; position: absolute; background: black"></div>
      <div style="width: 70.34px; height: 33.17px; left: 43.68px; top: 351.33px; position: absolute; background: black"></div>
      <div style="width: 70.34px; height: 80.72px; left: 43.68px; top: 286.97px; position: absolute; background: black"></div>
      <div style="width: 60.72px; height: 33.17px; left: 55.43px; top: 351.33px; position: absolute; background: black"></div>
      <div style="width: 39.91px; height: 64.63px; left: 87.35px; top: 286.96px; position: absolute; background: black"></div>
      <div style="width: 45.20px; height: 33.18px; left: 113.81px; top: 351.34px; position: absolute; background: black"></div>
      <div style="width: 29.32px; height: 46.75px; left: 254.12px; top: 219.02px; position: absolute; background: black"></div>
      <div style="width: 29.31px; height: 61.06px; left: 254.12px; top: 227.96px; position: absolute; background: black"></div>
      <div style="width: 15.20px; height: 9.21px; left: 272.65px; top: 219.01px; position: absolute; background: black"></div>
      <div style="width: 11.23px; height: 61.05px; left: 276.62px; top: 227.97px; position: absolute; background: black"></div>
      <div style="width: 15.19px; height: 26.30px; left: 272.66px; top: 200.29px; position: absolute; background: black"></div>
      <div style="width: 45.20px; height: 75.36px; left: 145.59px; top: 220.81px; position: absolute; background: black"></div>
      <div style="width: 42.55px; height: 61.05px; left: 148.23px; top: 295.91px; position: absolute; background: black"></div>
      <div style="width: 103.43px; height: 75.35px; left: 158.82px; top: 295.91px; position: absolute; background: black"></div>
      <div style="width: 67.70px; height: 75.35px; left: 186.63px; top: 220.82px; position: absolute; background: black"></div>
      <div style="width: 71.66px; height: 105.75px; left: 190.59px; top: 265.51px; position: absolute; background: black"></div>
      <div style="width: 70.74px; height: 63.23px; left: 162.39px; top: 99.24px; position: absolute; background: black"></div>
      <div style="width: 110.45px; height: 100.38px; left: 162.39px; top: 118.91px; position: absolute; background: black"></div>
      <div style="width: 26.67px; height: 66.43px; left: 127.06px; top: 240.47px; position: absolute; background: black"></div>
      <div style="width: 26.67px; height: 3.84px; left: 127.06px; top: 303.05px; position: absolute; background: black"></div>
      <div style="width: 45.20px; height: 62.84px; left: 145.59px; top: 240.48px; position: absolute; background: black"></div>
      <div style="width: 5.48px; height: 27.07px; left: 148.23px; top: 303.07px; position: absolute; background: black"></div>
      <div style="width: 42.55px; height: 34.24px; left: 148.23px; top: 295.90px; position: absolute; background: black"></div>
      <div style="width: 57.55px; height: 20.22px; left: 230.30px; top: 8.06px; position: absolute; background: black"></div>
      <div style="width: 57.55px; height: 13.86px; left: 230.30px; top: 0.35px; position: absolute; background: black"></div>
      <div style="width: 57.55px; height: 8.31px; left: 230.30px; top: 0px; position: absolute; background: black"></div>
      <div style="width: 70.79px; height: 91.45px; left: 217.06px; top: 8.05px; position: absolute; background: black"></div>
      <div style="width: 70.79px; height: 33.80px; left: 217.07px; top: 85.37px; position: absolute; background: black"></div>
      <div style="width: 57.55px; height: 62.99px; left: 230.30px; top: 8.05px; position: absolute; background: black"></div>
      <div style="width: 54.91px; height: 130.01px; left: 232.94px; top: 89.28px; position: absolute; background: black"></div>
      <div style="width: 15.20px; height: 78.15px; left: 272.66px; top: 141.13px; position: absolute; background: black"></div>
      <div style="width: 2.13px; height: 22.45px; left: 11.92px; top: 362.05px; position: absolute; background: black"></div>
      <div style="width: 2.93px; height: 47.33px; left: 0px; top: 337.17px; position: absolute; background: black"></div>
      <div style="width: 12.07px; height: 47.41px; left: 0.18px; top: 337.09px; position: absolute; background: black"></div>
      <div style="width: 25.78px; height: 88.70px; left: 262.07px; top: 288.76px; position: absolute; background: black"></div>
      <div style="width: 11.23px; height: 45.64px; left: 276.62px; top: 288.75px; position: absolute; background: black"></div>
      <div style="width: 16.49px; height: 13.51px; left: 256.40px; top: 370.99px; position: absolute; background: black"></div>
      <div style="width: 25.78px; height: 13.50px; left: 262.07px; top: 371px; position: absolute; background: black"></div>
      <div style="width: 280px; height: 80px; left: -63px; top: 288px; position: absolute">
        <div style="width: 280px; height: 80px; left: 0px; top: 0px; position: absolute; background: black; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 0.50px rgba(0, 0, 0, 0.99) solid"></div>
        <div style="width: 116px; height: 41px; left: 82px; top: 16px; position: absolute; color: #ABAFD1; font-size: 35px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Salvar<br/></div>
      </div>
    </div>
    <div style="width: 255.75px; height: 25.19px; left: 49px; top: 212px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Descrição</div>
    <div style="width: 384px; height: 145px; left: 31px; top: 215px; position: absolute">
      <div style="width: 384px; height: 115px; left: 0px; top: 30px; position: absolute; background: rgba(255, 255, 255, 0.50); box-shadow: 0px 0px 6px rgba(0, 154, 255, 0.25); border-radius: 3px; border: 0.50px #ABAFD1 solid"></div>
      <div style="width: 352px; height: 148px; left: 16px; top: 46px; position: absolute; color: #333333; font-size: 16px; font-family: Open Sans; font-weight: 400; word-wrap: break-word">|</div>
    </div>
    <div style="height: 84px; left: 35px; top: 114px; position: absolute">
      <div style="width: 182px; height: 50px; left: 0px; top: 34px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 182px; height: 50px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 166px; height: 24px; left: 7px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Altura</div>
    </div>
    <div style="height: 84px; left: 219px; top: 114px; position: absolute">
      <div style="width: 182px; height: 50px; left: 0px; top: 34px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div style="width: 182px; height: 50px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 166px; height: 24px; left: 7px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Largura</div>
    </div>
    <div style="width: 443px; height: 99px; left: 0px; top: 0px; position: absolute">
      <div style="width: 430px; height: 99px; left: 0px; top: 0px; position: absolute; background: black"></div>
      <div style="width: 252px; height: 48px; left: 191px; top: 49px; position: absolute">
        <div style="width: 129px; height: 42px; left: 123px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Barlow; font-weight: 400; word-wrap: break-word">GLASS</div>
        <div style="width: 177px; height: 48px; left: 0px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Cardo; font-weight: 700; word-wrap: break-word">VIDRAL</div>
      </div>
      <div style="width: 36px; height: 24px; left: 11px; top: 51px; position: absolute; background: #ABAFD1"></div>
      <div style="width: 36px; height: 24px; left: 11px; top: 51px; position: absolute; background: #ABAFD1"></div>
    </div>
    <div style="width: 170px; height: 78.74px; left: 47px; top: 375px; position: absolute">
      <div style="width: 170px; height: 50px; left: 0px; top: 28.74px; position: absolute">
        <div style="width: 170px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 115.52px; height: 20.43px; left: 3.14px; top: -0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Unidade</div>
    </div>
    <div style="width: 180px; height: 78.74px; left: 219px; top: 375px; position: absolute">
      <div style="width: 180px; height: 50px; left: 0px; top: 28.74px; position: absolute">
        <div style="width: 180px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 138.27px; height: 20.43px; left: 3.75px; top: -0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Valor do M2</div>
    </div>
    <div style="width: 359px; height: 71px; left: 46px; top: 463px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 24px; height: 24px; left: 327px; top: 37px; position: absolute">
        <div style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 0.75px black solid"></div>
        <div style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
      </div>
      <div style="left: 14px; top: 38px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Escolha um tamanho</div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Espessura</div>
    </div>
    <div style="width: 359px; height: 68.26px; left: 48px; top: 543px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 26px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 8.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Valor</div>
    </div>
    <div style="width: 359px; height: 71px; left: 48px; top: 633px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 24px; height: 24px; left: 327px; top: 37px; position: absolute">
        <div style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 0.75px black solid"></div>
        <div style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
      </div>
      <div style="left: 14px; top: 38px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Escolha um tamanho</div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Folha</div>
    </div>
    <div style="width: 359px; height: 68.26px; left: 50px; top: 713px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 26px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 8.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Valor</div>
    </div>
  </div>
  
</ion-content>
