#inicio {
    width: 428px; height: 926px; position: relative; background: rgba(255, 232, 0, 0.88); border-radius: 10px; overflow: hidden
}

#cabecalho {
    width: 430px; height: 99px; left: 0px; top: 0px; position: absolute; background: black;
}

#posicaoVG {
    width: 252px; height: 48px; left: 191px; top: 49px; position: absolute;
}

#glass {
    width: 129px; height: 42px; left: 123px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Barlow; font-weight: 400; word-wrap: break-word;
}

#vidral {
    width: 177px; height: 48px; left: 0px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Cardo; font-weight: 700; word-wrap: break-word;
}

#posicaoIcone {
    width: 36px; height: 24px; left: 11px; top: 51px; position: absolute; background: #ABAFD1
}