<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div style="width: 428px; height: 553px; position: relative; background: rgba(255, 232, 0, 0.88); border-radius: 10px; overflow: hidden">
    <div style="width: 443px; height: 99px; left: 0px; top: 0px; position: absolute">
      <div style="width: 430px; height: 99px; left: 0px; top: 0px; position: absolute; background: black"></div>
      <div style="width: 252px; height: 48px; left: 191px; top: 49px; position: absolute">
        <div style="width: 129px; height: 42px; left: 123px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Barlow; font-weight: 400; word-wrap: break-word">GLASS</div>
        <div style="width: 177px; height: 48px; left: 0px; top: 0px; position: absolute; color: white; font-size: 30px; font-family: Cardo; font-weight: 700; word-wrap: break-word">VIDRAL</div>
      </div>
      <div style="width: 36px; height: 14.33px; left: 11px; top: 30.46px; position: absolute; background: #ABAFD1"></div>
      <div style="width: 36px; height: 14.33px; left: 11px; top: 30.46px; position: absolute; background: #ABAFD1"></div>
    </div>
    <div style="height: 11px; padding-top: 2px; padding-bottom: 2px; padding-left: 2px; padding-right: 27px; left: 427.84px; top: -247.98px; position: absolute; transform: rotate(90.11deg); transform-origin: 0 0; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="width: 399px; height: 7px; background: rgba(0, 0, 0, 0.50); border-radius: 3.50px; border: 0.50px rgba(255, 255, 255, 0.15) solid"></div>
    </div>
    <div style="width: 359px; height: 50px; left: 35px; top: 149px; position: absolute; background: rgba(0, 0, 0, 0.50)">
      <div style="width: 359px; height: 50px; left: 0px; top: 0px; position: absolute; border-radius: 8px; border: 0.50px black solid"></div>
      <div style="width: 24px; height: 24px; left: 315px; top: 13px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 24px; height: 24px; position: relative">
          <div style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 0.75px black solid"></div>
          <div style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
        </div>
      </div>
      <div style="left: 20px; top: 14px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 400; word-wrap: break-word">Escolha um acessório</div>
    </div>
    <div style="width: 359px; height: 71px; left: 35px; top: 211px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Quantidade</div>
    </div>
    <div style="width: 359px; height: 71px; left: 35px; top: 286px; position: absolute">
      <div style="width: 359px; height: 42.26px; left: 0px; top: 28.74px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 359px; height: 42.26px; border-radius: 8px; border: 0.50px black solid"></div>
      </div>
      <div style="width: 275.76px; height: 20.43px; left: 7.49px; top: 0px; position: absolute; color: black; font-size: 14px; font-family: Montserrat; font-weight: 500; line-height: 20px; word-wrap: break-word">Valor</div>
    </div>
    <div style="width: 280px; height: 47.78px; left: 75px; top: 416px; position: absolute">
      <div style="width: 280px; height: 47.78px; left: 0px; top: 0px; position: absolute; background: black; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 0.50px rgba(0, 0, 0, 0.99) solid"></div>
      <div style="width: 116px; height: 24.48px; left: 89px; top: 0px; position: absolute; color: #ABAFD1; font-size: 35px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Salvar<br/></div>
    </div>
  </div>
  
</ion-content>
