<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <p id="vidral">VIDRAL</p>
    <p id="glass">GLASS</p>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </ion-toolbar>
</ion-header>


<ion-content>



  <div class="inicio">
    <ion-button id="botaoAdd" routerLink="/add-cliente">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Cadastrar um novo cliente
    </ion-button>

    <ion-searchbar show-clear-button="always" clear-icon="trash-bin" [(ngModel)]="queryText" (ionInput)="filtrarCliente($event)"></ion-searchbar>

    <div class="lista">
      <ion-list [inset]="true" lines="none">
        <ion-item-sliding *ngFor="let cliente of results" detail>
          <ion-item [routerLink]="['/add-cliente/', cliente.idCliente]" >
            <ion-label id="fundo">
              <p>{{cliente.nome}}</p>
              <p>{{cliente.endereco.cidade}}</p>
              <p>{{cliente.endereco.bairro}}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option (click)="excluir(cliente)" color="danger">Excluir</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      </div>
    </div>

</ion-content>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="lodash.js"></script>