<ion-header [translucent]="true">
  <div id="cabeçalho">
    <div id="posicaoVidral">
      <div id="glass">GLASS</div>
      <div id="vidral">VIDRAL</div>
    </div>
    <div>
      <ion-icon id="bVoltar" name="arrow-back-outline" routerLink="/principal" ></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="inicio">
    <div id="botaoAddVenda">
      <ion-icon id="posicaoIconVenda" name="wallet-outline"></ion-icon>
      <ion-button id="nomeCadastrar" fill="clear" routerLink="/add-venda">Cadastrar uma nova venda</ion-button>
    </div>
    <div id="barraPesquisar">
      <div id="tamanhoBarraPesquisar">
      </div>
    </div>
    <div id="posicaoStatus">
      <div id="escrita">Concluído</div>
    </div>
    <div id="posicaoVendas">
      <div id="nomeCliente">Fulano</div>
      <ion-icon id="posicaoBEditar" name="pencil-outline"></ion-icon>
      <ion-icon id="posicaoBExcluir" name="trash-outline"></ion-icon>
      <ion-icon id="posicaoIcone" name="wallet-outline"></ion-icon>
      <div id="itens">Itens</div>
    </div>
  </div>
  
</ion-content>
