<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <p id="vidral">VIDRAL</p>
    <p id="glass">GLASS</p>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </ion-toolbar>
</ion-header>

<div class="inicio">

  
      <form [formGroup]="formGroup" (ngSubmit)="cadastrar()">
          <div class="ion-padding-vertical">
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" class="border-bottom border-black"  formControlName="login"></ion-input>
          </div>
          <div class="ion-padding-vertical">
          <ion-label position="stacked">Senha</ion-label>
            <ion-input [type]="isTextFieldType ? 'text' : 'password'" class="border-bottom border-black" formControlName="senha"></ion-input>
          </div>

          <ion-button  id="add" type="submit" expand="block" [disabled]="!formGroup.valid">Cadastrar</ion-button>
      </form>
      <button (click)="togglePasswordFieldType()" >
        <ion-icon [name]="isTextFieldType ? 'eye-off' : 'eye'"></ion-icon>
      </button> 


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>