<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
    <p id="vidral">VIDRAL</p>
    <p id="glass">GLASS</p> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inicio">

    <form [formGroup]="formGroup" (ngSubmit)="salvar()">
    <ion-card>
      <ion-input id="b1" label="Tipo:" label-placement="floating" fill="outline" formControlName="tipo" type="text"></ion-input>
      <ion-input id="b2" label="Nome:" label-placement="floating" fill="outline" formControlName="nome" type="text"></ion-input>
      <ion-input id="b3" label="Quantidade:" label-placement="floating" fill="outline" formControlName="quantidade" type="number"></ion-input>
      <ion-input id="b4" label="Observação:" label-placement="floating" fill="outline" formControlName="observacao" type="text"></ion-input>
      <ion-input id="b6" label="Altura:" label-placement="floating" fill="outline" formControlName="altura" type="text"></ion-input>
      <ion-input id="b7" label="Largura:" label-placement="floating" fill="outline" formControlName="largura" type="text"></ion-input>
      <ion-input id="b8" label="Unidade:" label-placement="floating" fill="outline" formControlName="unidade" type="text"></ion-input>
      <ion-input id="b9" label="Valor do m2:" label-placement="floating" fill="outline" formControlName="valorM2" type="text"></ion-input>
      <ion-item id="b11">
        <ion-select label="Escolha a espessura:" label-placement="floating" formControlName="espessura">
          <ion-select-option value="6mm">6 mm</ion-select-option>
          <ion-select-option value="8mm">8 mm</ion-select-option>
          <ion-select-option value="10mm">10 mm</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item id="b13">
        <ion-select label="Escolha a cor:" label-placement="floating" formControlName="cor">
          <ion-select-option value="incolor">Incolor</ion-select-option>
          <ion-select-option value="verde">Verde</ion-select-option>
          <ion-select-option value="bronze">Bronze</ion-select-option>
          <ion-select-option value="fumê">Fumê</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button type="submit" id="b16" [disabled]="!formGroup.valid">Salvar item</ion-button>
    </ion-card>
    </form>
    <ion-button type="submit" id="b17" [disabled]="!itemOrcamento()" [routerLink]="['/add-item-orcamento-acessorio/', itemorcamento.idItemOrcamento]">Adicionar <br> acessório</ion-button>



  </div>
</ion-content>