.inicio {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
    height: 100vh;
    max-width: 100vw;


    background:(#FFD321);
    background-size: 400% 400%;


    h1{
    font-size: medium;
    text-align: center;


    }


    h2{
        font-size: medium;
        text-align: center;
    }
}

ion-toolbar {
    --background: #000000;
}

ion-icon {
    position: absolute;
    width: 3rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    left: 70rem;
    top: 20rem;
}

ion-button {
    --background: #000000;
    color: #FFFFFF;
    height: 5rem;
    width: 35rem;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
    top: 1rem;
}

#vidral {
    color: white;
    font-size: 1.5rem;
    font-family: Cardo;
    font-weight: 700;
    word-wrap: break-word;
    left: 64rem;
    position: absolute;
    top: 1rem;
}

#glass {
    color: white;
    font-size: 1.5rem;
    font-family: Barlow;
    font-weight: 400;
    word-wrap: break-word;
    left: 70rem;
    position: absolute;
    top: 1rem;
}

#botaoSair {
    position: absolute;
    top: 25rem;
    left: 18rem;
}

@media screen and (max-width: 360px) {
    .inicio {
        display: flex;
        align-items: center;
        height: 110vh;
    }

    ion-input {
        width: 18rem;
    }

    ion-toolbar {
        --min-height: 3.5rem;
    }

    ion-back-button {
        --icon-font-size: 1.5rem;
    }

    ion-button {
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
        top: 1rem;
        left: 1.3rem;
    }

    #vidral {
        font-size: 1.3rem;
        left: 11rem;
        top: 1rem;
        position: absolute;

    }

    #glass {
        font-size: 1.3rem;
        left: 16rem;
        top: 1rem;
        position: absolute;

    }


    #b1 {
        top: 1rem;
        left: 1rem;
    }
    
    #b2 {
        top: 2rem;
        left: 1rem;
    }
    
    #add {
        top: 31rem;
        left: 10.8rem;
        width: 8rem;
        height: 3.5rem;
    }

    ion-list {
        position: absolute;
        top: 9rem;
        width: 18rem;
    }

    #icon {
        left: 13rem;
        top: 0.5rem;
    }

    #botaoSair {
        position: absolute;
        top: 25rem;
        left: 5.5rem;
    }

    ion-icon {
        left: 17rem;
        top: 20rem;
    }

}