.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 100%;
    max-width: 100vw;


    background: (#FFD321);
    background-size: 400% 400%;
}

ion-toolbar {
    --background: #000000;
}

ion-content {
    --background: #FFD321;
}

.lista {
    position: absolute;
    top: 5rem;
    left: 2.5rem;
    width: 70rem;
}

ion-input {
    width: 68rem;
    color: #000000;
}

#b1 {
    top: -12rem;
}

#b2 {
    top: -14rem
}

.butao {
    width: 4rem;
    height: 4rem;
    --background: #000000;
}

#vidral {
    color: white;
    font-size: 1.5rem;
    font-family: Cardo;
    font-weight: 700;
    word-wrap: break-word;
    left: 64rem;
    position: absolute;
    top: 1rem;
}

#glass {
    color: white;
    font-size: 1.5rem;
    font-family: Barlow;
    font-weight: 400;
    word-wrap: break-word;
    left: 70rem;
    position: absolute;
    top: 1rem;
}

#icon {
    position: absolute;
    left: 63rem;
    top: 0.5rem;
    --background: #8d7410;
}

@media screen and (max-width: 678px) {
    .inicio {
        display: block;
    }

    ion-input {
        width: 18rem;
    }

    ion-toolbar {
        --min-height: 3.5rem;
    }

    ion-back-button {
        --icon-font-size: 1.5rem;
    }

    .lista {
        top: 5rem;
        left: 1rem;
        width: 21rem;
    }

    #vidral {
        font-size: 1.3rem;
        left: 12.9rem;
        top: 1rem;
        position: absolute;

    }

    #glass {
        font-size: 1.3rem;
        left: 18rem;
        top: 1rem;
        position: absolute;

    }


    #b1 {
        top: 1rem;
        left: 1rem;
    }
    
    #b2 {
        top: 2rem;
    left: 1.5rem;
    width: 20rem;
    }
    
    #add {
        top: 31rem;
        left: 10.8rem;
        width: 8rem;
        height: 3.5rem;
    }

    #icon {
        left: 13rem;
        top: 0.5rem;
    }

}