<ion-header [translucent]="true">

  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cliente"></ion-back-button>
    </ion-buttons>
    <p id="vidral">VIDRAL</p>
    <p id="glass">GLASS</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inicio">

    <div class="ion-text-justify">

      <form [formGroup]="formGroup" (ngSubmit)="salvar()">


        <div class="ion-padding-vertical">
          <div id="b1">
            <ion-label position="stacked">Nome:</ion-label>
            <input type="text" class="input form-control border-1 shadow-none" formControlName="nome">
          </div>
        </div>

        <div class="ion-padding-vertical">
          <div id="b1">
            <ion-label position="stacked">CPF:</ion-label>
            <input type="text" class="form-control border-1 shadow-none" formControlName="cpf" mask="000.000.000-00">
          </div>
        </div>

        <div class="ion-padding-vertical">
          <div id="b1">
            <ion-label position="stacked">Rua:</ion-label>
            <input type="text" class="form-control border-1 shadow-none" formControlName="rua">
          </div>
        </div>
        <div id="b1">
          <ion-label position="stacked">Cidade:</ion-label>
          <input type="text" class="form-control border-1 shadow-none" formControlName="cidade">
        </div>


        <div class="ion-padding-vertical">
          <div id="b1">
            <ion-label position="stacked">Bairro:</ion-label>
            <input type="text" class="form-control border-1 shadow-none" formControlName="bairro">
          </div>
        </div>


        <div class="ion-padding-vertical">
          <div id="b1">
            <ion-label position="stacked">Complemento:</ion-label>
            <input type="text" class="form-control border-1 shadow-none" formControlName="complemento">
          </div>
        </div>
        <div id="b1">
          <ion-label position="stacked">Numero:</ion-label>
          <input type="text" class="form-control border-1 shadow-none" formControlName="numero">
        </div>

        <div class="ion-padding-vertical">
          <div id="botao">
            <ion-button id="bSalvar" type="submit" expand="block" [disabled]="!formGroup.valid">Salvar</ion-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>