<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/orcamento"></ion-back-button>
    </ion-buttons>
    <p id="vidral">VIDRAL</p>
    <p id="glass">GLASS</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="inicio">

    <form [formGroup]="formGroup" (ngSubmit)="salvar()">
      <ion-segment class="posicao" [disabled]="!verificarOrcamento()" value="buttons" formControlName="status">
        <ion-segment-button value="Concluido">
          <ion-label>Concluído</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Andamento">
          <ion-label>Andamento</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Cancelado">
          <ion-label>Cancelado</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-item  class="posicao2" >
        <ion-select label="Selecione o cliente" label-placement="floating" formControlName="idCliente" >
          <ion-select-option *ngFor="let cliente of clientes "
            value="{{cliente.idCliente}}" >{{cliente.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div id="b1">
        <ion-label position="stacked">Data de validade:</ion-label>
        <input type="text" class="form-control border-1 shadow-none" mask="00/00/0000" formControlName="dataValidade">
      </div>

      <div id="b2">
      <ion-label position="stacked">Valor:</ion-label>
      <input [disabled]="!verificarValor()" type="number" class="form-control border-1 shadow-none" formControlName="valorTotal">
      </div>
      <ion-button [disabled]="!verificarValor()" id="relatorio"><ion-icon slot="start"
          name="add-circle-outline"></ion-icon>Gerar PDF</ion-button>

      <ion-button type="submit" [disabled]="!formGroup.valid" id="add">Salvar</ion-button>
    </form>
    <div id="b3">
      <ion-label position="stacked">Quantos porcentos voce quer de desconto?</ion-label>
    <input [(ngModel)]="gerar" [disabled]="!verificarValor()" type="number" class="form-control border-1 shadow-none">
    </div>
    <ion-button [disabled]="!verificarValor()" (click)="valorFinal()" id="gerar" >Gerar</ion-button>
    <ion-button [disabled]="!verificarOrcamento()" [routerLink]="['/item-orcamento/', orcamento.idOrcamento]"
      id="add2">Adicionar <br> item</ion-button>

  </div>
</ion-content>